@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Light.ttf") format("truetype"), url("../fonts/Inter-Black.ttf") format("truetype"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Bold.ttf") format("truetype"), url("../fonts/Inter-ExtraBold.ttf") format("truetype"), url("../fonts/Inter-ExtraLight.ttf") format("truetype"), url("../fonts/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter-Thin.ttf") format("truetype");
}
.menu {
  margin: 0;
  padding: 0;
}
.menu__container {
  margin-bottom: 93px;
}

.menu-offer {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
}
.menu-offer__title {
  padding-left: 280px;
  letter-spacing: 0.5px;
  margin: 0 0 40px 0;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  width: 800px;
  text-align: center;
}

.tabs {
  padding-left: 499.5px;
  display: flex;
}

.tab-item {
  cursor: pointer;
  display: flex;
  transition: ease all 2s;
  margin-right: 16px;
  align-items: center;
  border: 1px solid #C1B6AD;
  width: 115px;
  height: 46px;
  border-radius: 100px;
}
.tab-item_tea {
  width: 90px;
  height: 46px;
}
.tab-item__img {
  margin-left: 8px;
  width: 16px;
  height: 24px;
  margin-right: 8px;
  padding: 3px 7px 3px 7px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.tab-item:active {
  border: none;
  background-color: #665F55;
}
.tab-item:active .tab-item__img {
  background-color: #E1D4C9;
}
.tab-item:active .tab-item__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #E1D4C9;
  line-height: 150%;
}
.tab-item:hover {
  border: none;
  background-color: #665F55;
}
.tab-item:hover .tab-item__img {
  background-color: #E1D4C9;
}
.tab-item:hover .tab-item__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #E1D4C9;
  line-height: 150%;
}
.tab-item__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.preview {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview:hover .preview__img {
  transition: ease all 1s;
  transform: scale(1);
}
.preview__border {
  margin-bottom: 20px;
  border-radius: 40px;
  width: 310px;
  height: 310px;
  overflow: hidden;
}
.preview__img {
  transform: scale(1.1);
  width: 310px;
  height: 310px;
  border-radius: 40px;
  object-fit: none;
  margin-bottom: 20px;
}
.preview__title {
  margin: 0 0 12px 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.preview__text {
  margin: 0 0 0 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.preview__price {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.desctription {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 156px;
}

.menu-description {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr, 1fr, 2fr;
  width: 270px;
}

.coffee-grid {
  height: 1056px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 2fr);
  display: grid;
  gap: 40px;
}

.tab-item_active {
  border: none;
  background-color: #665F55;
}
.tab-item_active .tab-item__img {
  background-color: #E1D4C9;
}
.tab-item_active .tab-item__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #E1D4C9;
  line-height: 150%;
}/*# sourceMappingURL=menu-offer.css.map */