@import "./variables";
html{
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $light;
}
a{
  text-decoration: none;
}
.container{
  width: 136rem;
  margin: 0 auto;
}
.creamy{
  color: $text-accent;
}

.underline{
  opacity: 0;
  width: 2%;
  border: 0.1rem solid black;
}

@import "./normalize.scss";
@import "./fonts.scss";
@import "./desktop/_header.scss";
@import "./desktop/_hero.scss";
@import "./desktop/_favorite-coffee.scss";
@import "./desktop/_about.scss";
@import "./desktop/_mobile-app.scss";
@import "./desktop/_footer.scss";
@import "./desktop/_menu-offer.scss";

/**tablet**/
@import "./tablet/style-tablet";
// mobile
@import "./mobile/style-mobile";
//hover
@import "./hover";
@import "./desktop/modal"