@import "../fonts.scss";
.about{
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  &__title{
    margin: 0;
    margin-bottom: 4rem;
    width: 136rem;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 119%;
  word-spacing: 0.25rem;

  }
}

.images{

  width: 136rem;
 display: grid;
  gap: 4rem;
  grid-template-rows: 43rem 59rem;
  grid-template-columns: 66rem 66rem;
  &__border{
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;

    cursor: pointer;
 

  }
  &__img{
    object-fit: cover;  
      transform: scale(1.1);
    &_top{
      position: relative;
      top: 15.8rem;
    }
  }
}

.big-img{
  transform: scale(1.1);
  object-fit: cover; 
  width: 66rem;
  height: 59rem;
}

.small-img{
  transform: scale(1.1);
  object-fit: cover; 
  width: 66rem;
  height: 43rem;
}

.big-border{
  width: 66rem;
  height: 59rem;
}

.small-border{
  width: 66rem;
  height: 43rem;
}