@import "../variables";
@import "../fonts.scss";
.footer{
 
  &__container{
    background-color: #665F55;
    height: 45rem;
    margin-bottom: 4rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
  }
  &__svg-border{
    cursor: pointer;
  }
   &__svg-icon{
    cursor: pointer;
  }
    &__img{
      width: 6rem;
      height: 6rem;
      margin-right: 0.8rem;
      transition: ease all 2s;

    }
  &__title{
  margin: 0 0 4rem 0;
  font-family: Inter;
  letter-spacing: 0.05rem;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: $light;
  }
}

.contacts{
  &__link{
    width: 26.2rem;
    height: 11.6rem;
  }
  &__title{
    margin: 0 0 4rem 0;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color:$light;
  }
}

.contact-item{
  letter-spacing: 0.03rem;
  font-family: Inter;
  margin: 0 0 1.6rem 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  height: 2.4rem;
  line-height: 150%;
  
  color: $light;
  &_link{
    margin-bottom: 1.6rem;
    width: 18.2rem;
    height: 2.8rem;
  }
  }


.links{
  padding-left: 10rem;
  width: 53rem;
  margin-right: 10rem;
}

.contacts{
  width: 53rem;
  height: 18.6rem;
}

.footer-svg-wh{
  width: 6rem;
  height: 6rem;
}

.footer-svg-icon-mini{
  width: 2rem;
  height: 2rem;
}