@import "../_variables.scss";
@import "../fonts.scss";


#enjoyVideo{
  width: 1360px;

}
.hero{
  &__img{
  overflow: hidden;
  width: 136rem;
  height: 64.4rem;
  border-radius: 4rem;
  margin: 0 auto;
  }
  &__container{
    margin-bottom: 10rem;
    position: relative;
  display: flex;
  justify-content: center;
  }
  &__offer{
    left: 10rem;
    top: 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 53rem;
    height: 44.4rem;
  }
  &__title{
    color: $light;
    margin: 0 0 4rem 0;
    font-family: Inter;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    
   
  }
  &__text{
    color: $light;
    align-self: stretch;
    font-family: Inter;
    margin: 0 0 4rem 0;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
  }
  &__button{
    display: flex;
    align-items: center;
    height: 6.4rem;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: none;
    border-radius: 10rem;
    width: 20rem;
    background-color: $light;

  }
}

.hero-button{
  transition: ease all 2s;
  &__text{
    padding: 0 0 0 7.8rem;
    color: black;
    margin-right: 0.8rem;
  }
}

.hero-img{
  opacity: 0;
}