@import "../_variables.scss";
@import "../fonts.scss";
.mobile-app{
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
}

.mobile-screens{
  width: 63rem;
  height: 63rem;
}

.apple-btn-svg{
    width: 3.6rem;
  height: 3.6rem;
}
.google-btn-svg{
  width: 3.1rem;
  height: 3.4rem;
}

.offer{
  width: 63rem;
  height: 34.2rem;
  &_text-pos-start{
    text-align: start;
  }
  &__btn-img{
    padding-left: 1.2rem;
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 0.8rem;
}
  &__title{
    letter-spacing: 0.11rem;
    font-family: Inter;
    margin: 0 0 4rem 0;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
  &__text{
    margin: 0 0 4rem 0;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__btn{
    cursor: pointer;
    margin-right: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: none;
    border-radius: 0.1rem solid black;
    width: 20rem;
    height: 6.4rem;
    border-radius: 10rem;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    &_mr-0{
      margin-right: 0;
    }
  }
  &__btn-text{
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
} 


.button-container{
  display: flex;
}

.offer__btn{
  transition: all ease 2s;
  @media screen and (hover:hover) {
    &:hover{
    border: none;
    background-color: #665F55;
    .button__svg-icon{
       transition: all ease 2s;
      fill: $light;
    }
    .offer_text-pos-start{
       transition: all ease 2s;
      color: $light;
    }
  }
  }
  
}