@import "../variables";
@import "../fonts.scss";

.modal{
  max-width: 768px;
  background-color: $light;
  position: fixed;
  z-index: 12;
  padding: 16px;
  border-radius: 40px;
  &__back{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 1000%;
  }
  &__preview{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
 
  }
  &__description{
    max-width: 43.8rem;
    display: inline-flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9rem;
    flex: 1 0 0;

  }

  &__title{
    margin: 0 0 8px 0;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;

    line-height: 150%; 
  }
  &__section{
    display: inline-flex;

    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  &__additives{

  }
  &__total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
  }
  &__price{

    &_right{
      text-align: right;
    }
  }
  &__alert{
    display: flex;
    padding: 1.2rem 0;
    border-top: 1px solid var(--border-light, #C1B6AD);
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;


  }
  &__button{
    cursor: pointer;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    background-color: transparent;
    display: flex;
    padding: 1rem 7.8rem;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    height: 4.4rem;
    border-radius: 10rem;
    border: 1px solid var(--border-dark, #665F55);
    &:hover{
       border: none;
       color: $light;
       background-color: #665F55;
    }
  }
}


.alert{
  &__text{
    max-width: 41.4rem;
  margin: 0;
    letter-spacing: 0.1px;
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/caption */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; 
  }
  &__svg{
    width: 1.6rem;
    height: 1.6rem;
  }
}


.modal{
  &__border{
    margin-bottom: 2rem;
    border-radius: 4rem;
    width: 31rem;
    height: 31rem;
    overflow: hidden;
  }
  &__img{  
    transform: scale(1.1); 
    width: 31rem;
    height: 31rem;
    border-radius: 4rem;
    object-fit: none;
    margin-bottom: 2rem;
  }
}


.tab-item{
  &__char{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
  }
}


@media (max-width: 768px){
 .modal{
   max-width: 65.6rem;
 }
}


@media (max-width: 575px){
 .modal{
   max-width: 656px;
 }
 .modal{
  background-color: $light;
  position: fixed;
  z-index: 12;
  padding: 16px;
  display: flex;

  border-radius: 40px;
  &__back{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 1000%;
  }
  &__preview{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
 
  }
  &__description{
  
    max-width: 43.8rem;
    display: inline-flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9rem;
    flex: 1 0 0;

  }

  &__title{
    margin: 0 0 8px 0;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;

    line-height: 150%; 
  }
  &__section{
    display: inline-flex;

    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  &__additives{

  }
  &__total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 244p;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
  }
  &__price{

    &_right{
      text-align: right;
    }
  }
  &__alert{
    display: flex;
    padding: 1.2rem 0;
    border-top: 1px solid var(--border-light, #C1B6AD);
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;


  }
  &__button{
    cursor: pointer;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    background-color: transparent;
    display: flex;
    padding: .1rem .78rem;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    height: 4.4rem;
    border-radius: 10rem;
    border: 1px solid var(--border-dark, #665F55);
    &:hover{
       border: none;
       color: $light;
       background-color: #665F55;
    }
  }
}

.modal{

  &__border{

    border-radius: 40px;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
  }
  &__img{  
    transform: scale(1.1); 
    width: 20rem;
    height: 20rem;
    border-radius: 40px;
    object-fit: fill;
  }
}
}


@media(max-width: 380px){
  
.modal{
   overflow:hidden;
   position:fixed;
  width: 31rem;
  border-radius: 4rem;
  border: .1rem solid #C1B6AD;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__description{
    padding-left: 0;
  }
  &__border{
    display: none;
    border-radius: 40px;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
  }
  &__img{  
    transform: scale(1.1); 
    width: 10rem;
    height: 10rem;
    border-radius: 40px;
    object-fit: fill;
  }
}
}